<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>PCOS Detection</title>
</head>
<body>
<header>
  <h1>PCOS Detection</h1>
</header>
<main>
  <p>Welcome to the PCOS Detection page! Here, you can analyze various personal health parameters to assess potential indicators for Polycystic Ovary Syndrome (PCOS).</p>
  
  <h2>Health Parameters for PCOS Detection</h2>
  <p>Understanding the relationship between personal health metrics and PCOS can provide valuable insights for early detection and management. Please refer to the following key health indicators:</p>
  
  <ul>
    <li><strong>Weight (Kg):</strong> The weight of the individual in kilograms.</li>
    <li><strong>Height (Cm):</strong> The height of the individual in centimeters.</li>
    <li><strong>Hair loss (Y/N):</strong> Hair loss or thinning (Yes/No).</li>
    <li><strong>Pimples (Y/N):</strong> Frequent acne or pimples (Yes/No).</li>
    <li><strong>Reg. Exercise (Y/N):</strong> Engagement in regular physical exercise (Yes/No).</li>
    <li><strong>BP Systolic (mmHg):</strong> Systolic blood pressure in mmHg.</li>
    <li><strong>Follicle No. (L):</strong> Number of follicles in the left ovary.</li>
  </ul>

  <p>For analysis, please enter the above parameters as comma-separated values.</p>

  <br><br>
  
  <h2>Input Formats</h2>
  <ul>
    <li>Update URL: /predict?data=weight, height, hair_loss, pimples, reg_exercise, bp_systolic, follicle_no_L</li>
    <li>Enter data as JSON: {"data":"weight, height, hair_loss, pimples, reg_exercise, bp_systolic, follicle_no_L"}</li>
  </ul>
</main>
</body>
</html>
